@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-Regular.woff2") format("woff2"),
       url("./SATVPlus-Regular.woff") format("woff"),
       url("./SATVPlus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-Italic.woff2") format("woff2"),
       url("./SATVPlus-Italic.woff") format("woff"),
       url("./SATVPlus-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-Medium.woff2") format("woff2"),
       url("./SATVPlus-Medium.woff") format("woff"),
       url("./SATVPlus-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-MediumItalic.woff2") format("woff2"),
       url("./SATVPlus-MediumItalic.woff") format("woff"),
       url("./SATVPlus-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiBold.woff2") format("woff2"),
       url("./SATVPlus-SemiBold.woff") format("woff"),
       url("./SATVPlus-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiBoldItalic.woff2") format("woff2"),
       url("./SATVPlus-SemiBoldItalic.woff") format("woff"),
       url("./SATVPlus-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-Bold.woff2") format("woff2"),
       url("./SATVPlus-Bold.woff") format("woff"),
       url("./SATVPlus-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-BoldItalic.woff2") format("woff2"),
       url("./SATVPlus-BoldItalic.woff") format("woff"),
       url("./SATVPlus-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedRegular.woff2") format("woff2"),
       url("./SATVPlus-CondensedRegular.woff") format("woff"),
       url("./SATVPlus-CondensedRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedItalic.woff2") format("woff2"),
       url("./SATVPlus-CondensedItalic.woff") format("woff"),
       url("./SATVPlus-CondensedItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedMedium.woff2") format("woff2"),
       url("./SATVPlus-CondensedMedium.woff") format("woff"),
       url("./SATVPlus-CondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedMediumItalic.woff2") format("woff2"),
       url("./SATVPlus-CondensedMediumItalic.woff") format("woff"),
       url("./SATVPlus-CondensedMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedSemiBold.woff2") format("woff2"),
       url("./SATVPlus-CondensedSemiBold.woff") format("woff"),
       url("./SATVPlus-CondensedSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedSemiBoldItalic.woff2") format("woff2"),
       url("./SATVPlus-CondensedSemiBoldItalic.woff") format("woff"),
       url("./SATVPlus-CondensedSemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedBold.woff2") format("woff2"),
       url("./SATVPlus-CondensedBold.woff") format("woff"),
       url("./SATVPlus-CondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-CondensedBoldItalic.woff2") format("woff2"),
       url("./SATVPlus-CondensedBoldItalic.woff") format("woff"),
       url("./SATVPlus-CondensedBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedRegular.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedRegular.woff") format("woff"),
       url("./SATVPlus-SemiCondensedRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedItalic.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedItalic.woff") format("woff"),
       url("./SATVPlus-SemiCondensedItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedMedium.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedMedium.woff") format("woff"),
       url("./SATVPlus-SemiCondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedMediumItalic.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedMediumItalic.woff") format("woff"),
       url("./SATVPlus-SemiCondensedMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedSemiBold.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedSemiBold.woff") format("woff"),
       url("./SATVPlus-SemiCondensedSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedSemiBoldItalic.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedSemiBoldItalic.woff") format("woff"),
       url("./SATVPlus-SemiCondensedSemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedBold.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedBold.woff") format("woff"),
       url("./SATVPlus-SemiCondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SATVPlus";
  src: url("./SATVPlus-SemiCondensedBoldItalic.woff2") format("woff2"),
       url("./SATVPlus-SemiCondensedBoldItalic.woff") format("woff"),
       url("./SATVPlus-SemiCondensedBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
