@font-face {
    font-family: "HBOMaxSans";
    src: url("BOMaxSansRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HBOMaxSans";
    src: url("HBOMaxSansBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "HBOMaxSansCond";
    src: url("HBOMaxSansCondBold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HBOMaxSansCond";
    src: url("HBOMaxSansCondRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}